<html lang="en">
  <head>
    {{> head }}
    <title>Amrita Trees | Game</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <script src="/js/app.js"></script>
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>
  <script src="/leaflet/leaflet.js"></script>

<body class="w-screen h-screen relative bg-slate-800 overflow-hidden">
  {{!-- {{> locationPermission }} --}}

  <div id="map" class="w-screen" style="height: 100vh;"></div>

</body>
<script src="/js/mapScript.js" type="module"></script>
<script src="/js/gameScript.js" type="module"></script>
</html>